@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
body {
  background-color: #fafafa;
}
.hero {
  width: 100%;
  height: 80vh;
  background: url(images/bg-pattern-intro-desktop.svg) no-repeat,
    linear-gradient(90deg, hsl(13, 100%, 72%) 10%, hsl(353, 100%, 62%) 60%);
  background-position: 26% 52%;
  background-size: 220%;
  border-bottom-left-radius: 150px;
  padding: 4% 10%;
}
.hamburger-icon {
  display: none;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar-left img {
  scale: 120%;
}
.navbar-left {
  display: flex;
  flex: 1;
  align-items: center;
}
.navbar-left .navbar-list {
  display: flex;
  list-style: none;
  margin-left: 80px;
}
.connect{
  position: relative;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  border:none;
  margin-left: 15px;
}
.connect-li{
  margin-bottom: -4px;
}
.connect:focus{
  overflow: visible;
}

.connect-menu{
  width: 150px;
  list-style: none;
  margin-left: 0px;
  position: absolute;
  margin-top: 15px;
  margin-left: -10px;
  background-color: white;
  border-radius: 10px;
  text-align: left;
}
.connect-menu li a {
  color: black;
  padding: 10px;
}
.connect-menu li:hover{
  text-decoration: none;
}
.connect-menu li{
 color: black; 
 padding: 15px 0px;
}
.connect-menu li a:hover {
  font-weight: 600;
}


.navbar-left a,.connect {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  font-size: 20px;
}
.navbar-buttons {
  display: flex;
}
.navbar-buttons button {
  width: 160px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
}
.button-login {
  background-color: transparent;
  color: white;
}
.button-sign-up {
  color: hsl(356, 100%, 66%);
}
.hero-content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.hero-content-text {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.hero-content-text h1 {
  font-size: 80px;
  color: white;
  text-align: center;
}
.hero-content-text p {
  margin: 0;
  font-size: 30px;
  color: white;
  text-align: center;
}
.hero-content-buttons button {
  width: 160px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  margin: 0 7px;
}
.start-for-free {
  color: hsl(356, 100%, 66%);
  border: none;
}
.learn-more {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
.container-one {
  width: 100%;
  height: 140vh;
  border-bottom-left-radius: 100px;
  padding: 10% 10%;
  overflow: hidden;
  position: relative;
}

.container-one-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-one h2 {
  text-align: center;
  font-size: 60px;
  color: hsl(208, 49%, 24%);
}
.container-one-content-image {
  width: 50%;
  position: absolute;
  right: -6%;
  top: 10%;
}
.container-one-content-image img {
  width: 125%;
  height: auto;
  content: url(images/illustration-editor-desktop.svg);
}
.container-one-content-text {
  width: 50%;
  margin-top: 15%;
  padding-right: 5%;
}

h3 {
  color: hsl(208, 49%, 24%);
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 5%;
}
p {
  font-size: 22px;
  margin-bottom: 20%;
  font-weight: 300;
}
.container-blue {
  height: 60vh;
  width: 100%;
  background-image: url(images/bg-pattern-circles.svg)  ,
    linear-gradient(90deg, hsl(237, 17%, 21%) 20%, hsl(237, 23%, 32%) 80%),url(images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size:80%,cover;
  background-position: -80% 80%;
  border-bottom-left-radius: 150px;
  border-top-right-radius: 150px;
}
.container-blue-content{
  display: flex;
  position: relative;
  height: 100%;
}
.container-blue-content-image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: -16%;
}
.container-blue-content-image img{
  width: 80%;
  height: auto;
  
}
.container-blue-content-text{
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-blue-content-text h2{
  font-size: 40px;
  color: white;
  margin-bottom: 3%;
}
.container-blue-content-text p {
  margin: 0;
  padding-right: 32%;
  font-size: 20px;
  color: white;
  font-weight: 300;
}
.container-three{
  display: flex;
}
.container-three-image {
  position: relative;
  width: 50%;
}
.container-three-image img{
  position: relative;
  left: -40%;
  width: 130%;
 height: auto;
 content: url(images/illustration-laptop-desktop.svg);
}
.container-three-text{
  margin-top: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15%;
}
.container-three-text p {
  margin-bottom: 10%;
line-height: 35px;
}
.footer{
  width: 100%;
  height: 45vh;
  background-color: #24242c;
  padding: 4% 10%;
  border-top-right-radius: 150px;
}
.footer-body{
  display: flex;
  justify-content: space-between;
}
.footer-lists{
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.footer-lists ul li{
  list-style: none;
  padding: 10px;
}
.footer-lists ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-weight: 300;
}
.footer-lists ul .list-heading a{
font-weight: 600;
}
.list-heading{
  margin-bottom: 20px;
}
li:hover{
  text-decoration: underline;
}
button:hover{
  cursor: pointer;
}
.button-sign-up:hover, .start-for-free:hover {
  background-color:hsl(355, 100%, 74%) ;
  color: white;
  border-color: hsl(355, 100%, 74%);
}
.learn-more:hover{
    background-color: white;
    color: hsl(355, 100%, 74%);
  }
@media only screen and (max-width: 390px) {
  .navbar-list{
    display: none;
  }
  .container-one {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 100px;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .container-one h2 {
    font-size: 28px;
    order: -1;
    margin: 30% 0px;
  }
  .container-one-content-image {
    position: static;
    width: 100%;
  }
  .container-one-content-image img {
    width: 100%;
    content: url(images/illustration-editor-mobile.svg);
  }
  .container-one-content {
    margin: 0% 10%;
  }
  .container-one-content-text {
    width: 100%;
    margin-top: 15%;
    padding-right: 0%;
    text-align: center;
  }
.navbar .navbar-list{
  display: none;
}
  .navbar-buttons,.connect {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .hero {
    background: url(images/bg-pattern-intro-desktop.svg) no-repeat,
      linear-gradient(140deg, hsl(13, 100%, 72%) 30%, hsl(353, 100%, 62%) 60%);
    background-position: 35% 25%;
    border-bottom-left-radius: 100px;
    background-size: 350%;
    padding: 10%;
  }
  .hero-content {
    height: 90%;
  }

  .hero-content-text {
    height: 30%;
    justify-content: center;
  }

  .hero-content-text h1 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 5%;
  }
  .hero-content-text p {
    font-size: 18px;
  }
  .hero-content-buttons button {
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: 50px;
    margin: 0;
  }
  .start-for-free {
    margin-right: 2px;
  }
  .learn-more {
    margin-left: 2px;
  }
  .container-blue {
    margin-top: 40%;
    height: 77vh;
    width: 100%;
    background-image: url(images/bg-pattern-circles.svg)  ,
      linear-gradient(to bottom, hsl(237, 17%, 21%) 20%, hsl(237, 23%, 32%) 80%),url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size:170%,cover;
    background-position: 45% 1800%;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
  }
.container-blue-content{
  flex-direction: column;
  justify-content: center;
}
  .container-blue-content-text{
    width: 100%;
    margin-left: 0;
    padding: 0px 10%;
    height: 50%;
    text-align: center;
    justify-content: space-evenly;
  }
  .container-blue-content-text p {
    padding-right: 0;
    font-size: 18px;
    line-height: 25px;

  }
  .container-blue-content-image{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -43%;
  } 
   .container-blue-content-image img{
    width: 100%;
    height: auto;
  }
  .container-three{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
  .container-three-image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-three-image img{
    position: relative;
    left: 0;
    width: 100%;
   height: auto;
   content: url(images/illustration-laptop-mobile.svg);
  }
  .container-three-text{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0%;
    text-align: center;
    padding: 10%;
  }
  .container-three-text p {
    margin-bottom: 10%;
  line-height: auto;
  }
  .footer{
    height: auto;
  }
  .footer-body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
  }
  .footer-lists{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 15% 0%;

  }
  .footer-lists ul {
    margin-top: 30%;
  }
  .footer-lists ul li{
    list-style: none;
    padding: 5px;
  }
  .list-heading{
    margin-bottom: 5%;
  }
}
